html{
    background-color: silver;
}
header h1{
    text-align: center;
    width: 320px;
    height: 42px;
    margin-right: 34px;
    border-right-width: 4px;
    border-right-style: solid;
    border-top-width: 3px;
    border-top-style: solid;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-left-width: 4px;
    border-left-style: solid;
    margin-top: 32.433px;
    margin-left: 596px;
    margin-bottom: 29.433px;
    padding-bottom: -86px;
    padding-top: 0px;
    padding-right: -3px;
    border-color: black;
    background-color: rosybrown;
}
nav
{
    text-transform: uppercase;
    display: flex;
    
}
nav a
{
    
    font-size: 1.3em;
    color: #181818;
    
    text-decoration: none;
}
nav a:hover
{
    
    color: #760001;
    border-bottom: 3px solid #760001;
}

img
{
    width: 772px;
    height: 271.817px;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-top-width: 2px;
    border-top-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    box-sizing: inherit;
}
.Accueil
{
    width: 107px;
    height: 26px;
    padding-right: 21px;
    margin-right: 8px;
    margin-top: -2px;
    padding-top: 1px;
    padding-left: 137px;
    width: 479px;
    height: 25px;
    padding-right: 24px;
    margin-right: 12px;
    margin-top: -2px;
    padding-top: 1px;
    padding-left: 135px;
    margin-left: -1px;
    padding-bottom: -3px;
    margin-bottom: -1px;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-style: solid;
    padding-left: 7px;
    margin-left: 0px;
    padding-left: 4px;
    padding-right: -47px;
    margin-right: -55px;
    height: 25px;
    width: 424px;
    border-top-width: 5px;
    border-right-width: 1px;
    border-left-width: 6px;
    padding-bottom: 5px;
    padding-top: 2px;
    border-right-width: 2px;
    border-bottom-width: 1px;
    border-top-width: 6px;
    }
.recyclage
{
    width: 142px;
    height: 25px;
    padding-top: -12px;
    margin-top: -26px;
    padding-left: 306px;
    padding-bottom: 10px;
    margin-bottom: 4px;
    padding-right: 159px;
    border-bottom-width: 0px;
    border-bottom-style: solid;
    border-top-width: 0px;
    border-top-style: solid;
    border-right-width: 0px;
    border-right-style: solid;
    margin-left: -105px;
    padding-left: 261px;
    padding-bottom: 16px;
    width: 143px;
    height: 24px;
    margin-right: 1px;
    padding-top: 2px;
    margin-top: -32px;
    margin-left: -105px;
    padding-left: 256px;
    margin-bottom: 7px;
    padding-right: 161px;    
}
.contact
{
    width: 112px;
    margin-top: -39px;
    padding-top: -14px;
    padding-right: 9px;
    margin-right: 339px;
    height: 26px;
    padding-left: 488px;
    margin-left: 14px;
    padding-bottom: -13px;
    margin-bottom: 6px;
    margin-left: -116px;
    padding-left: 454px;
    padding-right: 6px;
    margin-top: -75px;
    padding-top: 29px;
    margin-left: -126px;
    padding-bottom: 28px;
}

.Table
{
    width: 547px;
    border-left-width: 3px;
    border-left-style: solid;
    border-top-width: 4px;
    border-top-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    padding-bottom: -88px;
    padding-left: 141px;
    padding-right: -21px;
    margin-right: 244px;
    padding-top: 5px;
    margin-top: 12px;
    margin-left: 275px;
    margin-bottom: 35px;
    border-top-width: 5px;
    border-top-style: solid;
    border-left-width: 6px;
    border-left-style: solid;
    border-right-width: 4px;
    border-right-style: solid;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-left: 20px;
    padding-right: 65px;
    padding-top: 9px;
    padding-bottom: 8px;
    margin-bottom: 35px;
    margin-left: 474px;
    margin-top: -53px;
    margin-right: 251px;
}

.cdo
{
    width: 495px;
    margin-top: -269px;
    padding-left: 794px;
    padding-top: -50px;
    padding-bottom: 201px;
}
.cdo1
{
    width: 155px;
    padding-left: 791px;
    padding-top: 88px;
    padding-bottom: 177px;
    margin-top: -337.083px;
    padding-right: 39px;
    margin-right: 28px;
    margin-bottom: 96.917px;
    margin-left: 5px;
    width: 287px;
    padding-right: 32px;
    padding-left: 787px;
    } 
#clr
{
    width: 457px;
    height: 43px;
    margin-top: 50.433px;
    margin-left: 519px;
    margin-right: 76px;
    margin-bottom: 26.433px;
}
.img1
{
    padding-bottom: 0px;
    padding-top: -1px;
    width: 716px;
    height: 392.817px;
}
.img2
{
    width: 779px;
    padding-top: -2px;
    height: 392.817px;
}
footer
{
    border-top-width: 1px;
    border-top-style: solid;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: center;
}
.cont
{
    height: 270.433px;
width: 447px;
padding-bottom: -73px;
margin-top: 130px;
padding-top: 1px;
margin-bottom: 64px;
border-left-width: 16px;
border-left-style: solid;
border-top-width: 14px;
border-top-style: solid;
border-right-width: 3px;
border-right-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
padding-left: 24px;
padding-right: 2px;
margin-right: 8px;
margin-left: 424px;
}
iframe
{
    border: 0;
height: 500px;
margin-left: 604px;
padding-top: 0px;
margin-top: -345px;
padding-right: 3px;
padding-bottom: -43px;
margin-bottom: -266px;
width: 600px;
border-top-width: 2px;
border-top-style: solid;
border-right-width: 2px;
border-right-style: solid;
border-bottom-width: 1px;
border-bottom-style: solid;
border-left-width: 2px;
border-left-style: solid;
width: 800px;
height: 600px;
}



